<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuarios</title>
</head>
<body>
    <h1>Registrate gratis hoy!</h1>
    <form action="/users/register" method="POST">
        Nombre:
        <input type="text" name="name">
        <br><br>
        Email:
        <input type="text" name="email">
        <br><br>
        Avatar:
        <input type="file" name="avatar">
        <br><br>
        Contraseña:
        <input type="password" name="password">
        <br><br>
        Repetir Contraseña:
        <input type="password" name="passwordConfirm">
        <br><br>
        <button type="submit">REGISTRARME</button>
    </form>
</body>
</html>